.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.feedback_box{
  border: 3px solid black;
  padding: 30px;
  margin: 20px;
}

.thankyou_box{
  border: 3px solid black;
  padding: 30px;

}

  .required_input {
      padding: 10px;
      margin-bottom: 10px;
      width: 50px;
      border-radius: 8px;
  }

  .required_comment {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 8px;
  }

  .next_button{
    background-color: #033076;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 10px 0px grey;

  }
 